<h1>Soporte</h1>
<main class="container">
    
    <row>
        <div class="col-4 mb-3 d-flex align-items-center">
            <label for="">Soportista:</label>
            <select name="supporter" id="supporter" class="form-select ms-1">
                <option selected>Seleccione uno</option>
                {{#each supporters as |supporter|}}
                    <option value="{{supporter.id}}">{{supporter.name}}</option>
                {{/each}}
            </select>
        </div>
    </row>

    <h3>Solicitudes:</h3>
    <section>
        <ul class="list-group" id="listRequest">
            {{#each requests as |request|}}
                <li class="list-group-item" id="request-{{request.id}}">
                    <b>Solicitante:</b> {{request.solicitado}} <br>
                    <b>Usuario:</b> {{request.usuario}} <br>
                    <b>Oficina:</b> {{request.oficina}} <br>
                    <p>{{request.descripcion}}</p>
                    <button class="btn btn-primary" onclick="atendidoChange({{request.id}})">Solicionado</button>
                </li>
            {{/each}}
        </ul>
    </section>
</main>
{{#content "scripts" mode="append"}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/espera.js"></script>
{{/content}}
