<h1>Soporte</h1>
<main class="container">
    <h3>Solicitudes:</h3>
        
    <section>
        <ul class="list-group" id="listRequest">
            {{#each requests as |request|}}
                <li class="list-group-item" id="request-{{request.id}}">
                    <b>Solicitante:</b> {{request.solicitado}} <br>
                    <b>Usuario:</b> {{request.usuario}} <br>
                    <b>Oficina:</b> {{request.oficina}} <br>
                    <p>{{request.descripcion}}</p>
                    <button class="btn btn-primary" onclick="atendidoChange({{request.id}})">Solicionado</button>
                </li>
            {{/each}}
        </ul>
    </section>
</main>
{{#content "scripts" mode="append"}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/espera.js"></script>
{{/content}}
