<h1>Soporte</h1>
<main class="container">
    <h3>Solicitudes:</h3>
        
    <section>
        <ul class="list-group" id="listRequest">
            {{#each request}}
                <li class="list-group-item" id="request-{{this.id}}">
                    <h5>Oficina: {{this.oficina}} </h5>
                    <h5>Solicitante: {{this.solicitado}}</h5>
                        
                    <p>{{this.descripcion}}</p>
                    <button class="btn btn-primary" onclick="atendidoChange({{this.id}})">Solicionado</button>
                </li>
            {{/each}}
        </ul>
    </section>
</main>
{{#content "scripts" mode="append"}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/espera.js"></script>
{{/content}}
